.body {
    text-wrap: wrap;
    color: black;
}

.hdr {
    padding: 1px;
    border-width: 1px;
    border-top: double;
    border-bottom: double;
    border-left: solid;
    border-right: solid;
}

.message {
    padding-left: 1px;
    margin-top: 5px;
    border: solid;
    border-width: 0.5px;
}